:root {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    line-height: 1;
}

body {
    background-color: black;
}

.control_blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
}

.block {
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: #10ac84;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s ease;
    text-align: center;
    font-size: x-large;
    padding: 0.25rem;
}

@media (hover: hover) and (pointer: fine) {
    .block:hover {
        background-color: #8395a7 !important;
    }
}

.block:active {
    background-color: #697C8E !important;
}

.block.disabled {
    background-color: #697C8E !important;
    cursor: not-allowed;
}

.status {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 3rem;
    color: white;
    display: flex;
    width: 100dvw;
    justify-content: center;
}

.status span {
    padding: 0.5rem;
    border-radius: 20px;
    transition: background-color 0.25s eaSE;
}

.status span.offline {
    background-color: #e74c3c;
}

.status span.online {
    background-color: #3acf78;
}

.status span.connecting {
    background-color: #f39c12;
}

.wake_lock {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 1rem;
    margin-top: 3rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 40px;
    cursor: pointer;
}

.wake_lock.disabled {
    background-color: #e74c3c;
}

.wake_lock.enabled {
    background-color: #10ac84;
}

.setup {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 1rem;
    margin-top: 3rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 40px;
    cursor: pointer;
    background-color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
}
